img{
    width: 230px;
    border-radius: 20px;
    border: 3px solid white;
    

}

.container-about{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    height: 20vw;
    width: 100vh;
    padding: 15px;
    width: 100%;
    border-bottom: 1px solid white;
}


.about{
    color: white;
    width: 50%;
}

