
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
    
}



.container-card{
    
    border: 1px solid black;
    height: 20rem;
    
    
    background: rgb(0,241,255);
background: linear-gradient(0deg, rgba(0,241,255,1) 0%, rgba(0,0,0,1) 100%);
}



img{
    width: 150px;
    margin-top: 20px;
    border-radius: 50%;
    border: 5px solid black;

}
 
ul{
    list-style: none;
    display: flex;
    justify-content: center;
    aligm-items: center;
    gap: 1rem;
    margin-top: 10px;
    
}

a{
    text-decoration: none;
}

