.card {
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
  }

  .card:hover {
    transform: translateY(-5px);
  }

  .ul-skills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .li-skills{
    text-align: center;
    
  }
  
  .card-content {
    font-size: 18px;
    color: #333;
    width: 90vw;
    height: 100px;
  }
  

  .name-skills{
    color: white;
    text-align: center;
  }

  @media screen and (max-width: 500px){
    .container-skills{
      flex-direction: column;
      width: 90%;
    }
    .container-card, .card-content{
      width: 90%;
      flex-direction: column;
      justify-content: center;
      overflow: hidden;
    }
  }