#root {
  padding: 0;
  border: 0;
  box-sizing: border-box;
  background: rgb(3,3,3);
  background: linear-gradient(0deg, rgba(3,3,3,1) 100%, rgba(254,254,254,1) 100%);
  font-family: Poppins;
    
}



